.floor_shops_category {
    width: 100%;
}

.floor_shops_category p{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    color: white;
    font-size: 20px;
    font-family: Arial;
    margin: 0;
}

.salon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 180px;
    margin: 2rem;
    border: solid 1px;
    border-color: #707070;
}

.floor_shop {
    display: flex;
    border-bottom: solid 1px;
    border-color: #707070;
}

.salon_name {
    display: table;
}

.salon_name p{
    display: table-cell;
    vertical-align: middle;
    font-family: Arial;
}