h1 {
    color: black;
    font-size: 30px;
    margin: 0;
}

h3 {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.3rem;
}

p {
    color: black;
    font-family: Arial;
}

.membership_wrapper {
    text-align: center;
    height: fit-content;
    background: -moz-linear-gradient(top left, #EEEB81, #99EA7A); 
    background: -webkit-linear-gradient(middle left, #EEEB81, #99EA7A); 
    background: linear-gradient(to bottom right, #EEEB81, #99EA7A); 
    box-shadow: 0px 4px 10px 0px inset #a4a4a4;
}

.membership_search {
    padding: 2rem;
}

.membership_search h1 {
    padding: 2rem 0rem;
    margin: 0px;
    margin-bottom: 1rem;
    font-size: 35px;
    padding: 0px;
}

.membership_search p {
    margin: 0px;
    font-size: 25px;
}

.membership-body {
    text-align: center;   
    margin-top: 5rem;
}

.membership-body p {
    line-height: 2rem;
}

.membership-body h1 {
    font-weight: 500;
}

.member-value-wrap ul {
    width: 70%;
    margin: auto;
}

.member-value-wrap li{
    display: flex;
    width: fit-content;
    padding: 4rem 0;
    border-top: solid #BFBFBF 2px;
}

.member-value-wrap img {
    margin: 3rem;
}

.member-value-number {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #DE274C;
    color: white;
    font-size: 80px;
    padding: auto;
}

.value-detail-wrap {
    text-align: left;
    margin-left: 3rem;
    text-align: center;
}

.value-detail-wrap p {
    margin-top: 2.5rem;
    text-align: left;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
}

.title {
    font-size: 20px;
    width: 100%;
    background-color: #082550;
    border-radius: 5px;
    margin: 0 2rem 2rem 0;
}

.title p {
    text-align: center;
    font-size: 20px;
    padding: 4px 35px;
    color: white;
    margin: 0;
}

.image-explane {
    background-color: #FFEC81;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}